body {

  background-color: #aeaeae;

}

p {

  margin: auto auto 20px auto;
  
  font-size: 16pt;
  font-family: 'Arial', sans-serif;

  text-align: center;

  color: lavender; 

}

p i {
  color: lightblue;
}

p:before, p:after {
  content: '↓';
}

p, div[contenteditable], footer {

  width: 60%;
  padding: 10px;

}

p, div[contenteditable] {

  text-shadow: 1px 1px 1px black;

}

div[contenteditable] {

  margin: auto;
  min-height: 30px;

  background-color: white;

  font-size: 18pt;
  
  box-shadow: 1px 1px 4px black;

}

footer {

  margin: 60px auto auto auto;

  color: black;

  text-align: center;

}

footer a {

  color: darkblue;
  text-decoration: none;

}
