body {

  background-color: #aeaeae;

}

div[contenteditable] {

  width: 800px;
  margin: auto;
  padding: 10px;

  background-color: white;

  font-size: 18pt;
  
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 4px black;

}
